@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");
.clearfix {
  overflow: auto;
}

/* base */
.b-page {
  width: 100%;
  margin: 0;
  background-color: #f7f7f7;
  background: url("../img/bg.png");
  font-family: Oswald, Tahoma;
  font-size: 12px;
}
.b-page__head-line {
  background-color: #7e7e7e;
  height: 5px;
  width: 100%;
}
.b-page__line {
  width: 960px;
  margin: 0 auto;
}
.b-page__line_head {
  margin-top: 25px;
}
.b-page__line_menu {
  margin-top: 20px;
}
.b-page__line_main {
  margin-top: 31px;
}
.b-page__footer {
  background-color: #7e7e7e;
  margin-top: 55px;
}
.b-page__footer-content {
  width: 950px;
  margin: 0 auto;
  padding-left: 15px;
}

.b-head__logo {
  float: left;
}
.b-head__search {
  float: right;
  padding-top: 2px;
}

.b-search {
  overflow: hidden;
}

.b-search__input {
  display: inline-block;
  vertical-align: top;
}

.b-input {
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  vertical-align: bottom;
  display: inline-block;
}
.b-input_search {
  height: 30px;
  padding: 0 10px;
  width: 137px;
  border-right: none;
}

::-webkit-input-placeholder {
  font: 12px Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: 0.04em;
}

::-moz-placeholder {
  font: 12px Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: 0.04em;
}

:-ms-input-placeholder {
  font: 12px Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: 0.04em;
}

::-ms-input-placeholder {
  font: 12px Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: 0.04em;
}

::placeholder {
  font: 12px Tahoma, sans-serif;
  color: #b2b2b2;
  letter-spacing: 0.04em;
}

.b-button {
  color: #fefefe;
  height: 32px;
  padding: 0 13px;
  line-height: 33px;
  cursor: pointer;
  background-color: #29c5e6;
  font-size: 14px;
  font-weight: normal;
}

.b-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  table-layout: fixed;
  border: 1px solid #e7e7e7;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.b-link {
  color: #525252;
  font-size: 12px;
}
.b-link_menu {
  text-align: center;
  color: #bfbfbf;
  cursor: pointer;
  font-size: 14px;
  height: 38px;
  background-color: #f3f3f3;
  line-height: 38px;
  display: table-cell;
  text-decoration: none;
  letter-spacing: 0.04em;
}
.b-link_menu_active {
  color: #fefefe;
  background-color: #29c5e6;
  outline: 1px solid #29c5e6;
}
.b-link_white {
  color: #dbdbdb;
}
.b-link_undecorate {
  text-decoration: none;
}
.b-link_block {
  display: block;
  margin-bottom: 6px;
}
.b-link_font-regular {
  font-family: Tahoma, sans-serif;
}
.b-link_small {
  font-size: 10px;
}