@use 'vars';

.welcome {
  &__round-rect {
    // display: none;
    position: absolute;
    width: 807.71px;
    height: 544.93px;
    top: 40px;
    right: -140px;
    border-radius: 312.159px;
    transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);

    background-color: vars.$accent-pastel-blue;
  }
  &__img {
    // display: none;
    position: absolute;
    right: -131px;
    top: 46px;
  }

  &__content {
    background-color: vars.$accent-pastel-yellow;
    padding-top: 240px;
    margin-right: 323px;
    padding-left: 179.5px;
    padding-right: 454px;
    padding-bottom: 75px;
    border-bottom: 2px solid #fff;
  }

  &__logo {
    margin-bottom: 37px;
  }

  &__title {
    margin-bottom: 84.5px;
  }

  &__text {
    margin-bottom: 54px;
  }
  &__buttons {
  }
}

.welcome-title {
  font-weight: vars.$bold;
  font-size: vars.$r48;
  margin: 0;
  color: vars.$accent-dark-blue;
  letter-spacing: -0.035em;
  line-height: 46px;
}

.welcome-text {
  font-size: vars.$r24;
  color: vars.$accent-dark-blue;
  line-height: 46px;
}
