@use 'vars';

.welcome {
  position: relative;
  // overflow-x: hidden;
  // overflow-y: auto;
  &__decor {
    &::before {
      position: absolute;
      display: block;
      top: 40px;
      right: -140px;
      content: '';

      width: 807.71px;
      height: 544.93px;
      border-radius: 312.159px;
      transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);

      background-color: vars.$accent-pastel-blue;
    }

    &-img {
      position: absolute;
      display: block;
      right: -131px;
      top: 46px;
    }
  }

  &__content {
    background-color: vars.$accent-pastel-yellow;

    width: 77.57%;
    padding-top: 240px;
    margin-right: 323px;
    padding-left: 179.5px;
    padding-right: 454px;
    padding-bottom: 75px;
    border-bottom: 2px solid #fff;

    @include vars.media-down(xxl) {
      padding-left: 85px;
    }

    @include vars.media-down(xl) {
      padding-left: 42px;
    }
  }

  &__logo {
    margin-bottom: 37px;
  }

  &__title {
    margin-bottom: 84.5px;
  }

  &__text {
    margin-bottom: 54px;
  }
  &__buttons {
  }
}

.welcome-title {
  font-weight: vars.$bold;
  font-size: 48px;
  margin: 0;
  color: vars.$accent-dark-blue;
  letter-spacing: -0.035em;
  line-height: 46px;
  // @media (max-width: 1439px) {
  //   font-size: vars.lerp(48, 24);
  // }
}

.welcome-text {
  font-size: vars.$r24;
  color: vars.$accent-dark-blue;
  line-height: 46px;
}
