$accent-cyan: #62d0df;
$accent-dark-blue: #22356f;
$accent-pastel-blue: #edfdff;

$accent-pastel-yellow: #f4f9e2;
$accent-yellow: #f9b640;

$r7: 0.4375rem;
$r10: 0.625rem;
$r14: 0.875rem; // 14px
$r16: 1rem;

$r23: 1.4375rem;
$r24: 1.5rem;
$r30: 1.875rem;
$r45: 2.8125rem;
$r48: 3rem;

$regular: 400;
$medium: 500;
$bold: 700;
