@use 'sass:math';
$dark-blue: #22356f;
$pastel-blue: #dee1ff;
$blue: #0052c1;
$cyan: #62d0df;
$purple: #8f00ff;
$toxic-green: #c4e769;
$pink: #ffe2de;
.bg_pink {
  background-color: $pink;
}

.bg_toxic-green {
  background-color: $toxic-green;
}
.fg_cyan {
  color: $cyan;
}
.bg_cyan {
  background-color: $cyan;
}
.bg_blue {
  background-color: $blue;
}

.bg_dark-blue {
  background-color: $dark-blue;
}

.bg_pastel-blue {
  background-color: $pastel-blue;
}

.bg_purple {
  background-color: $purple;
}

$accent-cyan: #62d0df;
$accent-dark-blue: #22356f;
$accent-pastel-blue: #edfdff;

$accent-pastel-yellow: #f4f9e2;
$accent-yellow: #f9b640;

$r7: 0.4375rem;
$r10: 0.625rem;
$r14: 0.875rem; // 14px
$r16: 1rem;
$r20: 1.25rem;

$r23: 1.4375rem;
$r24: 1.5rem;
$r30: 1.875rem;
$r36: 2.25rem;
$r45: 2.8125rem;
$r48: 3rem;

$regular: 400;
$medium: 500;
$bold: 700;

$screen-width-unit-less: 1440; // because right side of calc( a / b ) must be number
$mobile-width: 320;
$scale: math.div($mobile-width, $screen-width-unit-less);

@function lerp($max, $min) {
  $diff: $max - $min;
  $mm: $screen-width-unit-less - 320;
  $result: calc(#{$min + px} + calc(#{$diff} * calc((100vw - 320px) / #{$mm})));
  @return $result;
}

@function lerpd($max) {
  $result:
  // /*calc(
    calc(100vw / #{$screen-width-unit-less} * #{$max});
  // * #{math.div(
  //     $max,
  //     $screen-width-unit-less
  //   )}
  // );

  @return $result;
}

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

@mixin media-down($name, $bp: $breakpoints) {
  $max: map-get($bp, $name);
  @media (max-width: $max) {
    @content;
  }
}

@mixin media-up($name, $bp: $breakpoints) {
  $max: map-get($bp, $name);
  @media (min-width: $max) {
    @content;
  }
}
