.also-know {
  display: flex;

  &__img {
    flex: 0 1 480px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    // align-items: ;

    padding-top: 107px;
    padding-left: 106px;
    padding-bottom: 38px;
  }

  &__header {
    position: relative;
    left: 0.5px;
    margin-bottom: 222px;
  }

  &__text {
    flex-grow: 1;
    max-width: 676px;
    position: relative;
    left: 0.5px;
    color: #22356f;
    font-family: Larsseit;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: -0.01em;
    text-align: left;
  }

  &__button {
    align-self: flex-start;
    position: relative;
    left: -29.5px;
  }
}
