*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  max-width: 1440px;
  margin: 0 auto;

  line-height: 1.5;
}

$accent-cyan: #62d0df;
$accent-dark-blue: #22356f;

$r7: 0.4375rem;
$r14: 0.875rem; // 14px

$r23: 1.4375rem;
$r24: 1.5rem;

$regular: 400;
$medium: 500;
$bold: 700;

.logo {
  font: $bold $r24 Larsseit, sans-serif;
  line-height: $r23;
  letter-spacing: -0.035em;

  color: $accent-cyan;
}

.a-link {
  text-decoration: none;

  &_nav-top {
    display: block;
    color: $accent-dark-blue;
    font: $r14 Larsseit, sans-serif;
    font-weight: $regular;
    padding: $r14 $r7;

    &_active {
      font-weight: $medium;
      border-bottom: 1px solid $accent-dark-blue;
    }
  }

  &_button {
    /* https://moderncss.dev/css-button-styling-guide/ */
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &_contact {
      font: $bold $r14 Larsseit, sans-serif;

      color: #fff;
      background-color: $accent-cyan;
      padding: 20px 30px;
      border-radius: 50px;
    }
  }
}
