*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

ul,
ol {
  list-style: none; }

img {
  vertical-align: top; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit; }

html,
body {
  height: 100%;
  font: 500 14px/1 Montserrat, sans-serif;
  color: #000;
  color: #252842;
  background-color: #fafafa; }

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column; }

._container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 15px; }

._ibg {
  position: relative; }
  ._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover; }

._flexw {
  display: flex;
  flex-wrap: wrap; }

.section-header {
  text-align: center; }
  .section-header > *:not(:last-child) {
    margin-bottom: 10px; }
  .section-header__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px; }
    @media (max-width: 992px) {
      .section-header__title {
        font-size: 33px; } }
    @media (max-width: 767px) {
      .section-header__title {
        font-size: 30px; } }
  .section-header__text {
    margin: 0 auto;
    max-width: 511px;
    letter-spacing: 0.2px;
    line-height: 143%;
    color: #737373; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50; }
  .header__container {
    display: flex;
    min-height: 104px;
    align-items: center; }
    @media (max-width: 479px) {
      .header__container {
        min-height: 70px; } }
  .header__logo {
    margin: 0 133px 0 0; }
    @media (max-width: 992px) {
      .header__logo {
        margin: 0 80px 0 0; } }
    @media (max-width: 767px) {
      .header__logo {
        margin: 0 40px 0 0; } }
    @media (max-width: 479px) {
      .header__logo {
        margin: 0 30px 0 0; } }

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: 0.1px; }

.menu {
  padding: 5px 0; }
  .menu__list {
    display: flex;
    flex-wrap: wrap; }
  .menu__item:not(:last-child) {
    margin: 0 21px 0 0; }
    @media (max-width: 479px) {
      .menu__item:not(:last-child) {
        margin: 0 30px 0 0; } }
  .menu__link {
    font-weight: 600;
    line-height: 1.714;
    letter-spacing: 0.2px;
    color: #737373; }
    @media (max-width: 479px) {
      .menu__link {
        font-size: 18px; } }

.page {
  flex: 1 1 auto; }
  .page__services {
    margin-top: -111px;
    position: relative;
    z-index: 20; }
  .page__whoweare {
    background-color: #fff; }
  .page__clients:not(:last-client) {
    margin: 0 0 10px 0; }

.main-block {
  position: relative; }
  .main-block__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
    @media (max-width: 1400px) {
      .main-block__cover > img {
        object-position: right; } }
    @media (max-width: 992px) {
      .main-block__cover > img {
        opacity: 0.4; } }
  .main-block__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 10;
    max-width: 400px; }
    .main-block__body > *:not(:last-child) {
      margin-bottom: 35px; }
    @media (max-width: 992px) {
      .main-block__body {
        padding-top: 120px; } }
  .main-block__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.379;
    letter-spacing: 0.2px; }
    @media (max-width: 479px) {
      .main-block__title {
        font-size: 42px; } }
  .main-block__text {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #737373; }
  .main-block__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px; }
  .main-block__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    padding: 5px 36px;
    font-size: inherit;
    font-weight: 700;
    line-height: 1.5;
    min-height: 48px;
    border-radius: 37px;
    text-align: center; }
    .main-block__button_orange {
      background: #ff7b47;
      color: #fff; }
    .main-block__button_border {
      background: transparent;
      border: 1px solid #0d5c63;
      color: #0d5c63; }
    @media (max-width: 479px) {
      .main-block__button {
        flex: 1 1 100%; } }
    @media (min-width: 480px) {
      .main-block__button:not(:last-child) {
        margin-right: 10px; } }

.services__body {
  margin: 0 -15px 0; }
  @media (min-width: 670px) {
    .services__body {
      display: flex;
      flex-wrap: wrap; } }

.services__column {
  flex: 1 0 0;
  padding: 0 15px; }
  @media (max-width: 992px) {
    .services__column {
      flex: 0 1 50%; }
      .services__column:not(:last-child) {
        margin: 0 0 30px 0; }
      .services__column:last-child {
        flex: 1 1 100%; } }

.service {
  height: 100%;
  display: block;
  padding: 35px 40px;
  color: inherit;
  background: #fff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07); }
  .service > *:not(:last-child) {
    margin-bottom: 10px; }
  .service__image {
    width: 48px;
    height: 48px;
    object-fit: contain; }
  .service__title {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 700;
    letter-spacing: 0.1px; }
  .service__text {
    line-height: 1.428;
    color: #737373;
    letter-spacing: 0.2px; }
  .service_green {
    background: #0d5c63;
    color: #fff; }
    .service_green .service__text {
      color: inherit; }

.exp__body {
  padding: 80px 0; }
  @media (max-width: 992px) {
    .exp__body {
      padding: 50px 0; } }
  @media (max-width: 767px) {
    .exp__body {
      padding: 40px 0; } }

.exp__header {
  margin-bottom: 50px; }
  @media (max-width: 767px) {
    .exp__header {
      margin: 0 0 25px 0; } }

.stats {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px; }
  .stats__column {
    flex: 1 0 0;
    padding: 0 15px 30px; }
    @media (max-width: 1040px) {
      .stats__column {
        flex: 1 0 50%; } }
    @media (max-width: 520px) {
      .stats__column {
        flex: 1 0 100%; } }

.stat {
  padding: 30px 30px;
  height: 100%;
  background: #fff;
  text-align: center; }
  .stat > *:not(:last-child) {
    margin-bottom: 10px; }
  .stat__icon {
    width: 48px;
    height: 48px;
    object-fit: contain; }
  .stat__number {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px; }
  .stat__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #737373;
    letter-spacing: 0.1px; }

.practice__body {
  padding: 80px 0; }
  @media (max-width: 992px) {
    .practice__body {
      padding: 50px 0; } }
  @media (max-width: 767px) {
    .practice__body {
      padding: 40px 0; } }

.practice__header {
  margin-bottom: 45px; }

.cards {
  flex-wrap: wrap;
  margin: 0 -20px -40px; }
  @media (min-width: 576px) {
    .cards {
      display: flex; } }
  .cards__column {
    flex: 1 0 0;
    padding: 0 20px 40px; }
    @media (max-width: 1040px) {
      .cards__column {
        flex: 1 0 50%; } }

.card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff; }
  .card__content {
    padding: 30px;
    flex: 1 0 0; }
  .card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px; }
    .card__title:not(:last-child) {
      margin-bottom: 15px; }
  .card__title-link {
    display: inline-block;
    line-height: inherit; }
    .card__title-link:hover {
      text-decoration: underline; }
  .card__text {
    line-height: 143%;
    letter-spacing: 0.2px;
    color: #737373; }
  .card__image-link {
    padding: 0 0 60% 0; }

.whoweare {
  padding: 100px 0 100px 0; }
  @media (max-width: 950px) {
    .whoweare {
      padding: 40px 0; } }
  .whoweare__header {
    margin-bottom: 100px; }
    @media (max-width: 950px) {
      .whoweare__header {
        margin-bottom: 40px; } }
  .whoweare__body {
    display: flex;
    align-items: flex-start; }
    @media (max-width: 950px) {
      .whoweare__body {
        flex-direction: column-reverse;
        align-items: stretch; } }
  .whoweare__video {
    position: relative;
    flex: 0 0 57%;
    padding: 0 0 42.25% 0; }
    @media (max-width: 950px) {
      .whoweare__video {
        padding: 0 0 56.25%; } }
    .whoweare__video iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover; }
  .whoweare__content {
    flex: 1 1 auto;
    padding: 20px 0 0 120px; }
    @media (max-width: 1080px) {
      .whoweare__content {
        padding: 20px 0 0 40px; } }
    @media (max-width: 950px) {
      .whoweare__content {
        padding: 0 0 40px 0; } }
  .whoweare__top:not(:last-child) {
    margin: 0 0 50px 0; }
  .whoweare__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px; }
    @media (max-width: 950px) {
      .whoweare__title {
        font-size: 24px; } }
    .whoweare__title:not(:last-child) {
      margin: 0 0 10px 0; }
  .whoweare__text {
    line-height: 142%;
    letter-spacing: 0.2px;
    color: #737373; }
    .whoweare__text:not(:last-child) {
      margin: 0 0 50px 0; }

.prop {
  display: flex; }
  .prop:not(:last-child) {
    margin: 0 0 30px 0; }
  .prop__icon {
    flex: 0 0 32px;
    margin: 0 20px 0 0;
    object-fit: contain; }
  .prop__body {
    flex: 1 1 0; }
  .prop__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px; }
    .prop__title:not(:last-child) {
      margin: 0 0 5px 0; }
  .prop__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373; }

.clients {
  padding: 50px 0; }
  @media (max-size: 992px) {
    .clients {
      padding: 30px 0; } }
  .clients__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; }
  .clients__item {
    flex: 0 1 16.667%;
    padding: 8px 15px;
    min-width: 140px;
    text-align: center; }
    .clients__item img {
      max-width: 100%; }

.subscribe {
  position: relative;
  padding: 0 0 20px 0; }
  .subscribe::before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 77px;
    background: #252B42;
    content: ''; }
  .subscribe__body {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
    padding: 30px 50px;
    background-color: #17213C;
    border-radius: 2px; }
  .subscribe__title {
    max-width: 266px;
    flex: 0 1 auto;
    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;
    color: #fff; }
  .subscribe__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    padding: 3px 0; }
  .subscribe__input {
    flex: 1 1 0;
    border: 1px solid #e6e6e6;
    border-right: none;
    border-radius: 5px 0 0 5px;
    min-height: 58px;
    padding: 0 0 0 20px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    background-color: #f9f9f9; }
  .subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #e6e6e6;
    min-height: 58px;
    padding: 0 22px;
    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;
    background-color: #ff7b47;
    border-radius: 0 5px 5px 0;
    color: #fff; }
