.stat {
  background-color: #f5f5f7;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 208px;
  min-height: 98px;
  padding-top: 18px;
}
.stat__number {
  font: 64px/48px "Baloo Bhai", Arial, sans-serif;
  margin-right: 11px;
}
.stat__label {
  font: normal 400 16px/24px "Roboto", Arial, sans-serif;
  position: relative;
  top: -1px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg: #F5F5F7;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}