.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 27px auto 0;
  max-width: 1130px;
  z-index: 10;
  outline: 1px dashed black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__nav {
  min-width: 233px;
}
.nav-top__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}