@charset "UTF-8";
.bg_pink {
  background-color: #ffe2de;
}

.bg_toxic-green {
  background-color: #c4e769;
}

.fg_cyan {
  color: #62d0df;
}

.bg_cyan {
  background-color: #62d0df;
}

.bg_blue {
  background-color: #0052c1;
}

.bg_dark-blue {
  background-color: #22356f;
}

.bg_pastel-blue {
  background-color: #dee1ff;
}

.bg_purple {
  background-color: #8f00ff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.5;
  font-family: Larsseit, sans-serif;
  overflow-x: hidden;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}

.logo {
  font: 700 1.5rem Larsseit, sans-serif;
  line-height: 1.4375rem;
  letter-spacing: -0.035em;
  color: #62d0df;
}

.a-link {
  text-decoration: none;
}
.a-link_yellow {
  color: #006dff;
}
.a-link_button {
  /* https://moderncss.dev/css-button-styling-guide/ */
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.a-link_button_orange {
  min-width: 150px;
  padding: 13px 30px;
  /* idk */
  letter-spacing: 0.1em;
  font-weight: 700;
  font-size: 1rem;
  color: #fff;
  background-color: #f9b640;
}
.a-link_button_orange_inv {
  background-color: transparent;
  color: #f9b640;
}
.a-link_button_wider {
  padding-left: 38px;
  padding-right: 38px;
}

h1,
h2,
p {
  margin: 0;
}

.section-header {
  font-family: Larsseit;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.06em;
  text-align: left;
  text-transform: uppercase;
  color: #22356f;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-right: 131px;
  padding-left: 179.5px;
  margin: 26px auto 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}
.header__button {
  position: relative;
  top: 1px;
  font: bold 14px Larsseit, sans-serif;
  color: #fff;
  background-color: #62d0df;
  min-height: 50px;
  min-width: 150px;
  border-radius: 50px;
}

.nav-top {
  padding-left: 7px;
}
.nav-top__list {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.nav-top__item {
  margin-right: 14px;
}
.nav-top__item_last {
  margin-right: 0;
}
.nav-top__link {
  display: block;
  color: #22356f;
  font: 14px Larsseit, sans-serif;
  font-weight: 400;
  padding: 10px 6px 14px;
  line-height: 16.68px;
}
.nav-top__link_active {
  font-weight: 500;
  border-bottom: 1px solid #22356f;
}

.welcome {
  position: relative;
}
.welcome__decor {
  position: absolute;
  right: 0;
  top: 0;
}
@media (max-width: 1200px) {
  .welcome__decor {
    right: -110px;
  }
}
@media (max-width: 992px) {
  .welcome__decor {
    top: 0;
    display: none;
    transform: scale(0.75);
  }
}
.welcome__decor::before {
  position: absolute;
  display: block;
  top: 40px;
  right: -140px;
  content: "";
  width: 807.71px;
  height: 544.93px;
  border-radius: 312.159px;
  transform: matrix(-0.5, 0.87, 0.87, 0.5, 0, 0);
  background-color: #edfdff;
}
.welcome__decor-img {
  position: absolute;
  display: block;
  right: -131px;
  top: 46px;
}
.welcome__content {
  background-color: #f4f9e2;
  padding-top: 240px;
  margin-right: 323px;
  padding-left: 179.5px;
  padding-right: 454px;
  padding-bottom: 75px;
  border-bottom: 2px solid #fff;
}
@media (max-width: 1400px) {
  .welcome__content {
    padding-left: 85px;
    padding-right: 394px;
  }
}
@media (max-width: 1200px) {
  .welcome__content {
    padding-left: 42px;
    padding-right: 344px;
  }
}
@media (max-width: 992px) {
  .welcome__content {
    top: 1000px;
    margin-right: 100px;
    padding-right: 100px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
.welcome__logo {
  margin-bottom: 37px;
}
.welcome__title {
  margin-bottom: 84.5px;
}
.welcome__text {
  margin-bottom: 54px;
}
.welcome-title {
  font-weight: 700;
  font-size: 48px;
  margin: 0;
  color: #22356f;
  letter-spacing: -0.035em;
  line-height: 46px;
}

.welcome-text {
  font-size: 1.5rem;
  color: #22356f;
  line-height: 46px;
}

.s-why {
  overflow: auto;
  background-color: #62d0df;
}
.s-why__img {
  float: right;
  margin-left: 181px;
}
.s-why__content {
  margin-top: 138px;
  margin-left: 179.25px;
}
.s-why__text {
  margin-top: 80px;
}

.why-img {
  display: block;
}

.why-title {
  color: #fff;
  font-size: 2.25rem;
  letter-spacing: -0.006em;
}

.why-text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 32px;
}
.why-text_bold {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 40px;
  margin-right: 5px;
}

.activities {
  margin-bottom: 41px;
  display: block;
}
.activities__row {
  height: 360px;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  margin-bottom: 120px;
}
.activities__row > * {
  flex-grow: 1;
  flex-basis: 0;
}
.activities__grid {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 21px;
}
.activities__grid > * {
  flex: 1 0 33.33%;
  min-height: 480px;
}
.activities__cards {
  display: flex;
  flex-wrap: wrap;
}
.activities__cards > * {
  flex: 1 0 33.33%;
  min-height: 240px;
}

.tile {
  position: relative;
  padding: 71px 52px 0 52px;
}
.tile__img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.tile_big {
  padding: 95px 70px 0;
}

.tile-text {
  display: flex;
  z-index: 10;
  padding-top: 25px;
  color: #ffffff;
  border-top: 1px solid white;
  font-family: Larsseit;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  letter-spacing: -0.006em;
  margin-bottom: 20px;
}
.tile-text::before {
  flex: 0 0 auto;
  display: inline-block;
  width: 9px;
  height: 9px;
  margin-top: 10px;
  margin-left: 2px;
  margin-right: 15px;
  border-radius: 50%;
  content: "";
  background-color: #e9b730;
}

.tile-text_big {
  padding-top: 32px;
  line-height: 38px;
  word-spacing: 100vw;
  /* force one word per line */
}
.tile-text_big::before {
  width: 12px;
  height: 12px;
  margin-top: 15px;
  margin-right: 20.5px;
}

.card {
  padding: 55px 77px 0 105px;
}
.card__header {
  position: relative;
  left: 0.5px;
  margin-bottom: 27.5px;
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 35px;
  /* identical to box height */
  letter-spacing: -0.03em;
  color: #22356f;
}
.card__lead {
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: rgba(34, 53, 111, 0.5);
}

.also-know {
  display: flex;
}
.also-know__img {
  flex: 0 1 480px;
}
.also-know__content {
  display: flex;
  flex-direction: column;
  padding-top: 107px;
  padding-left: 106px;
  padding-bottom: 38px;
}
.also-know__header {
  position: relative;
  left: 0.5px;
  margin-bottom: 222px;
}
.also-know__text {
  flex-grow: 1;
  max-width: 676px;
  position: relative;
  left: 0.5px;
  color: #22356f;
  font-family: Larsseit;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 59px;
  letter-spacing: -0.01em;
  text-align: left;
}
.also-know__button {
  align-self: flex-start;
  position: relative;
  left: -29.5px;
}

.contact {
  display: flex;
  background-color: #22356f;
}
.contact__img {
  order: 1000;
}
.contact__content {
  flex-grow: 1;
  padding: 107px 0 0 180px;
}
.contact__header {
  color: white;
  position: relative;
  left: 0px;
  margin-bottom: 229px;
}
.contact__title {
  position: relative;
  left: 0.5px;
  margin-bottom: 52px;
  font-family: Larsseit;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.01em;
  color: #ffffff;
}
.contact__text {
  max-width: 579px;
  margin-bottom: 57px;
  color: #ffffff;
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 58px;
  letter-spacing: -0.005em;
}
.contact__button {
  align-self: flex-start;
  position: relative;
  left: -29.5px;
  color: #62d0df;
}

.footer {
  display: flex;
  flex-wrap: wrap;
}
.footer__content {
  flex-grow: 1;
  display: flex;
  padding-top: 103px;
  padding-left: 68.5px;
  padding-right: 40px;
}
.footer__content-column {
  flex: 1 1 33.33%;
  margin-right: 26px;
}
.footer__content-column_last {
  margin-right: 0;
}
.footer__title {
  margin-bottom: 51px;
  font-family: Larsseit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: -0.006em;
  color: #22356f;
}
.footer__text {
  max-width: 207px;
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: -0.006em;
  color: rgba(34, 53, 111, 0.5);
}
.footer__text_hours {
  letter-spacing: 0.01em;
}
.footer__legal {
  width: 100%;
  height: 80px;
  flex: 0 0 auto;
  padding-top: 37px;
  padding-left: 179px;
  display: flex;
  background: #62d0df;
  font-family: Larsseit;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 9px;
  letter-spacing: -0.006em;
  color: #ffffff;
}
.footer__legal::before {
  content: "©";
  position: relative;
  top: 2px;
  margin-right: 9.5px;
}
.footer__year {
  margin-left: 3px;
}

.about {
  position: relative;
  min-height: 481px;
  padding-top: 145px;
}
.about__header {
  position: absolute;
  left: 106.5px;
  top: 156px;
}
.about__content {
  display: flex;
  justify-content: center;
  margin-bottom: 93px;
}
.about__content-text {
  max-width: 592px;
  position: relative;
  font-family: Larsseit;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.005em;
  color: #22356f;
}
.about__footer {
  padding: 24px 0;
}
.about__footer-text {
  font-family: Larsseit;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: rgba(34, 53, 111, 0.5);
}