.s-welcome__img {
  display: none;
}
.s-welcome__content {
  background-color: #f4f9e2;
}
.welcome-title {
  font-weight: 700;
  font-size: 3rem;
  margin: 0;
  color: #22356f;
}

.welcome-text {
  font-size: 1.5rem;
  color: #22356f;
}