*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  font: 500 14px/1 Montserrat, sans-serif;
  color: #000;
  color: #252842;
  background-color: #fafafa;
}

// wrap ------------------------------------

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

// helpers ------------------------------------

._container {
  box-sizing: content-box;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 15px;
}

._ibg {
  position: relative;

  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

._flexw {
  display: flex;
  flex-wrap: wrap;
}

// section header ------------------------

.section-header {
  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 142%;
    letter-spacing: 0.2px;

    @media (max-width: 992px) {
      font-size: 33px;
    }
    @media (max-width: 767px) {
      font-size: 30px;
    }
  }

  &__text {
    margin: 0 auto;
    max-width: 511px;

    letter-spacing: 0.2px;
    line-height: 143%;

    color: #737373;
  }
}

// header ------------------------------------

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;

  &__container {
    display: flex;
    min-height: 104px;
    align-items: center;

    @media (max-width: 479px) {
      min-height: 70px;
    }
  }

  &__logo {
    margin: 0 133px 0 0;

    @media (max-width: 992px) {
      margin: 0 80px 0 0;
    }

    @media (max-width: 767px) {
      margin: 0 40px 0 0;
    }

    @media (max-width: 479px) {
      margin: 0 30px 0 0;
    }
  }

  &__menu {
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.3333;
  letter-spacing: 0.1px;
}

.menu {
  padding: 5px 0;

  &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
  }

  &__item:not(:last-child) {
    margin: 0 21px 0 0;

    @media (max-width: 479px) {
      margin: 0 30px 0 0;
    }
  }

  &__link {
    font-weight: 600;
    line-height: 1.714;
    letter-spacing: 0.2px;
    color: #737373;

    @media (max-width: 479px) {
      font-size: 18px;
    }
  }
}

// footer ----------------------------
.footer {
}
// page ------------------------------

.page {
  flex: 1 1 auto;

  &__main-block {
  }
  &__services {
    margin-top: -111px;
    position: relative;
    z-index: 20;
  }

  &__exp {
  }
  &__whoweare {
    background-color: #fff;
  }

  &__clients:not(:last-client) {
    margin: 0 0 10px 0;
  }

  &__subscribe {}
}

// main-block ----------------------------

.main-block {
  position: relative;

  &__cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    & > img {
      @media (max-width: 1400px) {
        object-position: right;
      }
      @media (max-width: 992px) {
        opacity: 0.4;
      }
    }
  }

  &__container {
  }

  &__body {
    padding: 184px 0 191px 0;
    position: relative;
    z-index: 10;
    max-width: 400px;

    & > *:not(:last-child) {
      margin-bottom: 35px;
    }
    @media (max-width: 992px) {
      padding-top: 120px;
    }
  }

  &__title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.379;
    letter-spacing: 0.2px;

    @media (max-width: 479px) {
      font-size: 42px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    color: #737373;
  }

  &__buttons {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
  }

  &__button {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    margin-top: 10px;
    padding: 5px 36px;

    font-size: inherit;
    font-weight: 700;
    line-height: 1.5; // 2
    min-height: 48px;

    border-radius: 37px;
    text-align: center;

    &_orange {
      background: #ff7b47;
      color: #fff;
    }

    &_border {
      background: transparent;
      border: 1px solid #0d5c63;
      color: #0d5c63;
    }

    @media (max-width: 479px) {
      flex: 1 1 100%;
    }
    @media (min-width: 480px) {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}

// services ----------------------------

.services {
  &__container {
  }

  &__body {
    margin: 0 -15px 0;
    @media (min-width: 670px) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__column {
    flex: 1 0 0;
    padding: 0 15px;

    @media (max-width: 992px) {
      flex: 0 1 50%;

      &:not(:last-child) {
        margin: 0 0 30px 0;
      }

      &:last-child {
        flex: 1 1 100%;
      }
    }
  }

  &__item {
  }
}

.service {
  height: 100%;
  display: block;
  padding: 35px 40px;

  color: inherit;
  background: #fff;
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &__image {
    width: 48px;
    height: 48px;
    object-fit: contain;
  }
  &__title {
    font-size: 24px;
    line-height: 1.333;
    font-weight: 700;
    letter-spacing: 0.1px;
  }
  &__text {
    line-height: 1.428;
    color: #737373;
    letter-spacing: 0.2px;
  }

  &_green {
    background: #0d5c63;
    color: #fff;

    & .service__text {
      color: inherit;
    }
  }
}

// experience ----------------------------

.exp {
  &__container {
  }

  &__body {
    padding: 80px 0;

    @media (max-width: 992px) {
      padding: 50px 0;
    }

    @media (max-width: 767px) {
      padding: 40px 0;
    }
  }
  &__header {
    margin-bottom: 50px;

    @media (max-width: 767px) {
      margin: 0 0 25px 0;
    }
  }
  &__stats {
  }
}

.stats {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px -30px;

  &__column {
    flex: 1 0 0;
    padding: 0 15px 30px;

    @media (max-width: 1040px) {
      flex: 1 0 50%;
    }

    @media (max-width: 520px) {
      flex: 1 0 100%;
    }

    // &:not(:last-child) {
    //   margin-right: 30px;
    // }
  }
  &__item {
  }
}

.stat {
  padding: 30px 30px;
  height: 100%;

  background: #fff;

  text-align: center;

  & > *:not(:last-child) {
    margin-bottom: 10px;
  }

  &__icon {
    width: 48px;
    height: 48px;

    object-fit: contain;
  }
  &__number {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;
  }
  &__text {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    color: #737373;
    letter-spacing: 0.1px;
  }
}

// practice -------------------------

.practice {
  &__container {
  }
  &__body {
    padding: 80px 0;

    @media (max-width: 992px) {
      padding: 50px 0;
    }

    @media (max-width: 767px) {
      padding: 40px 0;
    }
  }
  &__header {
    margin-bottom: 45px;
  }
  &__content {
  }
}

.cards {
  // display: flex;
  flex-wrap: wrap;
  margin: 0 -20px -40px;

  @media (min-width: 576px) {
    display: flex;
  }

  &__column {
    flex: 1 0 0;
    padding: 0 20px 40px;

    @media (max-width: 1040px) {
      flex: 1 0 50%;
    }

    // @media (max-width: 576px) {
    //   flex: 1 0 100%;
    // }
  }

  &__item {
  }
}

.card {
  display: flex;
  flex-direction: column;
  height: 100%;

  background: #fff;

  &__content {
    padding: 30px;
    flex: 1 0 0;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__title-link {
    display: inline-block;
    line-height: inherit;
    &:hover {
      text-decoration: underline;
    }
  }
  &__text {
    line-height: 143%;
    letter-spacing: 0.2px;

    color: #737373;
  }

  &__image-link {
    padding: 0 0 60% 0;
  }
  &__image {
  }
}

// whoweare --------------------------

.whoweare {
  padding: 100px 0 100px 0;

  @media (max-width: 950px) {
    padding: 40px 0;
  }

  &__container {
  }
  &__header {
    margin-bottom: 100px;
    @media (max-width: 950px) {
      margin-bottom: 40px;
    }
  }
  &__body {
    display: flex;
    align-items: flex-start;

    @media (max-width: 950px) {
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
  &__video {
    position: relative;

    flex: 0 0 57%;
    padding: 0 0 42.25% 0;
    @media (max-width: 950px) {
      padding: 0 0 56.25%;
    }

    & iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      object-fit: cover;
    }
  }
  &__content {
    flex: 1 1 auto;
    padding: 20px 0 0 120px;

    @media (max-width: 1080px) {
      padding: 20px 0 0 40px;
    }

    @media (max-width: 950px) {
      padding: 0 0 40px 0;
    }
  }

  &__top:not(:last-child) {
    margin: 0 0 50px 0;
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 142%;
    letter-spacing: 0.2px;

    @media (max-width: 950px) {
      font-size: 24px;
    }

    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
  }
  &__text {
    line-height: 142%;
    letter-spacing: 0.2px;

    color: #737373;

    &:not(:last-child) {
      margin: 0 0 50px 0;
    }
  }
  &__list {
  }
  &__item {
  }
}

.prop {
  display: flex;

  &:not(:last-child) {
    margin: 0 0 30px 0;
  }

  &__icon {
    flex: 0 0 32px;
    margin: 0 20px 0 0;

    object-fit: contain;
  }
  &__body {
    flex: 1 1 0;
    // overflow: hidden;
  }
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.1px;

    &:not(:last-child) {
      margin: 0 0 5px 0;
    }
  }
  &__text {
    font-weight: 600;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.2px;
    // max-width: 100%;

    color: #737373;
    // white-space: nowrap;
    // text-overflow: ellipsis;
  }
}

// clients ----------------------------

.clients {
  padding: 50px 0;

  @media (max-size: 992px) {
    padding: 30px 0;
  }
  &__container {
  }
  &__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  &__item {
    flex: 0 1 16.667%;
    padding: 8px 15px;
    min-width: 140px;

    text-align: center;

    & img {
      max-width: 100%;
    }
  }
}


// subscribe ---------------------------

.subscribe {
  position: relative;
  padding: 0 0 20px 0;

  &::before {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 77px;

    background: #252B42;
    content: '';

  }

  &__container {}
  &__body {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 32px;
    padding: 30px 50px;

    background-color: #17213C;
    border-radius: 2px;
  }
  &__title {
    max-width: 266px;
    flex: 0 1 auto;


    font-size: 24px;
    font-weight: 700;
    line-height: 133%;
    letter-spacing: 0.1px;

    color: #fff;

  }
  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    padding: 3px 0;

  }
  &__input {
    flex: 1 1 0;
    border: 1px solid #e6e6e6;
    border-right:none;
    border-radius: 5px 0 0 5px;
    min-height: 58px;
    padding: 0 0 0 20px;

    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;

    background-color: #f9f9f9;
  }
  &__button {


    display: flex;
    justify-content:center;
    align-items: center;

    border: 1px solid #e6e6e6;
    min-height: 58px;
    padding: 0 22px;

    font-size: 14px;
    line-height: 200%;
    letter-spacing: 0.2px;

    background-color: #ff7b47;
    border-radius: 0 5px 5px 0;
    color: #fff;


  }
}
