@import '_reset.scss';
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

body {
  font-family: 'Lato', Arial, sans-serif;
  font-size: 14px;
  color: #000;
}

.page {
  &__nav {
    min-height: 58px;
    border-bottom: 1px solid #f2f2f2;
  }
}

// nav --------------------
.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  &__list {
    margin: 0 0 -20px 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    // margin: 0 24px 20px 0;
    margin: 0 0 10px 0;
    padding: 0 24px;
  }

  &__link {
    // margin: 0 24px 20px;
    padding: 5px;
    font-size: 15px;
    // line-height: 150%;

    color: #3c3c3c;
    // outline: 1px solid #000;

    &--focus,
    &:focus {
      font-weight: 700;

      color: #ada074;
    }
  }
}

@media (max-width: 576px) {
}

// title ------

.title {
  // padding: 0 0 34px 0;

  font-size: 34px;
  letter-spacing: 0.16em;
  font-weight: 700;

  text-align: center;
}

.title::after {
  margin: 0.941em auto 0;

  display: block;
  height: 1px;
  width: 2.72em;
  background: #000;

  content: '';
}

@media (max-width: 576px) {
  .title {
    font-size: 28px;
  }
}

// text ---------

.text {
  line-height: 185%;
  color: #868585;
  text-align: center;
}
